body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: darkorange;
    color: white;
    padding: 15px 25px;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav img {
    height: 80px; 
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white; 
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4f4f9; 
}

#home {
    background: linear-gradient(to bottom, #05569e, #033a6d); 
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

.Home img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#about-us {
    padding: 60px 20px;
    background-color: #f4f4f9;
}

#about-us h2 {
    text-align: center;
    color: darkorange;
    margin-bottom: 40px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    text-align: center;
    margin: 20px;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column:hover {
    background-color: #eaf3fc;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

h3 {
    font-size: 1.5rem;
    color: darkorange;
    margin-bottom: 10px;
}

.column p {
    font-size: 1rem;
    line-height: 1.6;
}


#services {
    padding: 60px 20px;
    background-color: #05569e;
    color: white;
}

#services h2 {
    text-align: center;
    color: darkorange;
    margin-bottom: 40px;
}

.legal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #033a6d;
    border-radius: 10px;
}

.legal p ul {
    margin: 20px 0;
    padding-left: 20px;
}

#contact-us {
    padding: 60px 20px;
    background-color: #f4f4f9;
}

.wrap2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    text-align: center;
    margin: 20px;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.row:hover {
    background-color: #eaf3fc;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


#certifications {
    padding: 40px 0;
    background-color: darkorange;
    text-align: center;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logos-container img {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s;
}

.logos-container img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container, .wrap, .wrap2 {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 1rem;
    }
}